@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 101.2 43.2% 53.3%;
    --secondary: 210 40% 96.1%;
  }

  :root[class~="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 87.2 71.2% 39.8%;
    --secondary: 217.2 32.6% 17.5%;
  }

  html {
    font-family: 'Outfit', sans-serif;
  }

  body {
    @apply min-h-screen bg-background text-foreground transition-colors duration-300;
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
  }

  :root[class~="dark"] body {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
  }
}
