/* src/styles/mobile.css */
@media only screen and (max-width: 500px) {
    body {
      width: 100%;
      margin: 0;
      padding: 1em;
    }
  
    #menu {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 2em 0;
    }
  
    #menu a {
      margin: 0.5em 0;
      width: fit-content;
    }
  
    #switch-container img {
      width: 2em;
      height: 2em;
      position: fixed;
      top: 1em;
      right: 1em;
    }
  
    #about-me-intro-section {
      width: 100% !important;
    }
  
    #about-me-section {
      width: 100% !important;
    }
  
    #projects-wrapper {
      display: flex !important;
      flex-direction: column !important;
    }
  
    #projects-wrapper > div {
      flex-direction: column !important;
      margin: 2em 0 !important;
    }
  
    #projects-wrapper img {
      width: 100% !important;
      margin: 1em 0 !important;
    }
  
    #skills-section article {
      display: flex !important;
      flex-direction: column !important;
    }
  
    #links-section > div {
      display: flex !important;
      flex-direction: column !important;
    }
  
    .watermark:first-child,
    .watermark:nth-child(2),
    .watermark:nth-child(3) {
      display: none;
    }
  }