---
import Markdown from '@astrojs/markdown-remark';
import markdownContent from './content.md';
---

<html>
  <head>
    <title>Contoh Markdown</title>
  </head>
  <body>
    <Markdown content={markdownContent} />
  </body>
</html>
