---
import '../styles/globals.css';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ababil - Portfolio</title>
  </head>
  <body class="bg-background text-foreground">
    <Navbar />
    <main>
      <Hero />
      <Experience />
      <Education />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
